<ion-header>
  <div style="padding:0.2rem; margin:0 auto;text-align: center;background: #ffffff;">
    <img src="../../../assets/PEOPLEHERE-v1-mobile.png" alt="logo" style="max-width: 280px;">
  </div>
  <!-- <ion-toolbar color="primary">
    <ion-title>Supa Chat</ion-title>
  </ion-toolbar> -->
</ion-header>


<ion-content style="max-width: 800px;margin: 0 auto;">
  <div style="padding:0.5rem; margin:100px auto 0 ;text-align: center;background: #ffffff;">
    <img src="../../../assets/Component_inicio-test.mobilepng.png" alt="logo" style="max-width: 280px;">
  </div>
  <div style="padding:0.2rem; margin:0 auto;text-align: center;background: #ffffff;">
    <ion-button color="dark" style="width:180px;padding: 2px;" href="/register">REGISTRATE</ion-button>
    <br>
    <ion-button color="light" style="width:180px;padding: 2px;"  href="/login">LOG IN</ion-button>
  </div>
</ion-content>