<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->
  
<ion-header>
  <div style="padding:0.5rem; margin:0 auto;text-align: center;background: #ffffff;">
    <img src="../../assets/PEOPLEHERE-v1-mobile.png" alt="logo" style="max-width: 280px;">
  </div>
  <!-- <ion-toolbar color="primary">
    <ion-title>Supa Chat</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content scrollY="false" style="max-width: 800px;margin: 0 auto;">
  <br><br><br>   <br><br>
  <ion-card>
    <ion-card-content>
      <br>
      <h2 style="text-align: center;color: black;font-size: 1rem;"> <b>REGISTRO</b></h2>
      <br>
      <form (ngSubmit)="login()" [formGroup]="credentials">
      
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="name" placeholder="Ingresa tu nombre" formControlName="name"></ion-input>
          <ion-note slot="error" *ngIf=""
            >Por favor ingresa tu Nombre</ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input
            type="email"
            inputmode="email"
            placeholder="Ingresa tu Email"
            formControlName="email"
          ></ion-input>
          <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"
            >Por favor ingresa tu email</ion-note
          >
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" placeholder="Ingresa tu contraseña" formControlName="password"></ion-input>
          <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors"
            >Por favor ingresa tu password</ion-note
          >
        </ion-item>
        <br>
        <ion-button type="submit" expand="block" strong="true" [disabled]="!credentials.valid" color="dark"
          >Registrar</ion-button
        >
        <br>
        <!-- <div class="ion-margin-top">
          <ion-button
            type="button"
            expand="block"
            color="primary"
            fill="outline"
            routerLink="register"
          >
            <ion-icon name="person-outline" slot="start"></ion-icon>
            Crear cuenta
          </ion-button>

         <ion-button type="button" expand="block" color="secondary" (click)="forgotPw()">
            <ion-icon name="key-outline" slot="start"></ion-icon>
            Forgot password?
          </ion-button> 

           <ion-button type="button" expand="block" color="tertiary" (click)="getMagicLink()">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            Get a Magic Link
          </ion-button> 
         <ion-button type="button" expand="block" color="warning" routerLink="groups">
            <ion-icon name="arrow-forward" slot="start"></ion-icon>
            Start without account
          </ion-button> 
        </div>  -->
      
      </form>  


    </ion-card-content>
  </ion-card>
  <br><br>
<br><br>
<br><br>
<br><br>
<div style="position: relative;width: 100%;">
  <p style="font-size:11px;text-align: center;width: 100%;position: absolute;bottom: 0;">compra cerca, compra seguro</p>
</div>
</ion-content>






